.scene-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    > div:first-child {
        display: block;
        height: 0;
        width: 100%;
    }
}

canvas {
    width: 100vw;
    transform: translateY(-1%);
}

/*.level-select-container {
    user-select: none;
}

.level-select-button {
    background: #a0ceab;
    border: 2px solid #85bb96;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.level-select-button:hover {
    opacity: 0.8;
}*/
